export(proximus,rockCluster,dists,gknn,as.dummy,lmplot,clmplot,rlbmat)
S3method("as.dummy",logical)
S3method("as.dummy",integer)
S3method("as.dummy",factor)
S3method("as.dummy",matrix)
S3method("as.dummy",list)
S3method("as.dummy","data.frame")
S3method(predict,"rock")
S3method(fitted,"rock")
S3method(print,rock)
S3method(fitted,proximus)
S3method(print,proximus)
S3method(summary,proximus)
S3method(print,"summary.proximus")
S3method(subset,dist)
S3method("[[",dist)
S3method(image,matrix)
S3method(image,dist)
S3method(cut,ordered)
useDynLib(cba)
